node-red/flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"EncryptionDecryptionFlow","disabled":false,"info":""},{"id":"5da8478d.428eb8","type":"http in","z":"3af82246.3634ae","name":"enc-dec-request","url":"/payload","method":"post","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["216bea2a.839d16","504e9e74.eb7d7"]]},{"id":"216bea2a.839d16","type":"switch","z":"3af82246.3634ae","name":"service-router","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"enc","vt":"str"},{"t":"eq","v":"dec","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":420,"y":240,"wires":[["95ae880f.ab2ce8"],["cd0e9f63.62f5c"],["294fb737.ab2a68"]]},{"id":"2069838b.80a98c","type":"http response","z":"3af82246.3634ae","name":"enc-dec-response","statusCode":"200","headers":{},"x":1250,"y":240,"wires":[]},{"id":"82eaf0e6.e21e8","type":"encrypt","z":"3af82246.3634ae","name":"encrypt","algorithm":"AES","key":"q3t6w9z$C&F)J@Nc","x":920,"y":120,"wires":[["2069838b.80a98c"]]},{"id":"1b0f1999.84bef6","type":"decrypt","z":"3af82246.3634ae","name":"decrypt","algorithm":"AES","key":"q3t6w9z$C&F)J@Nc","x":920,"y":240,"wires":[["2069838b.80a98c"]]},{"id":"95ae880f.ab2ce8","type":"change","z":"3af82246.3634ae","name":"parse-encrypt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":120,"wires":[["82eaf0e6.e21e8"]]},{"id":"cd0e9f63.62f5c","type":"change","z":"3af82246.3634ae","name":"parse-decrypt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":240,"wires":[["1b0f1999.84bef6"]]},{"id":"294fb737.ab2a68","type":"change","z":"3af82246.3634ae","name":"handle-unsupported-data","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unsupported request, check format.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":360,"wires":[["2069838b.80a98c"]]},{"id":"504e9e74.eb7d7","type":"debug","z":"3af82246.3634ae","name":"view-request-data","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":100,"wires":[]}]